*{
    margin: 0;
}
html{
    scroll-behavior: smooth;
  }
section{
    background-color: #212121;
    height: 100vh;
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: rgb(5, 5, 39);
}
nav{
    display: flex;
    position: fixed;
    width: 20%;
    z-index: 10;
}

#icon-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 0;
    overflow: hidden;
    transition: 0.55s ease;
    -webkit-tap-highlight-color: transparent;
}


button{
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    backdrop-filter: blur(20px);
    transition: .3s ease;
    -webkit-tap-highlight-color: transparent;
}
i{
    color: ghostwhite;
    font-size: 1.4rem;
}
i:hover{
    scale: 1.05;
    
}

.hamburger {
    cursor: pointer;
}
  
.hamburger input {
    display: none;
    -webkit-tap-highlight-color: transparent;
}
.hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-tap-highlight-color: transparent;
  }
  
.line {
fill: none;
stroke: white;
stroke-linecap: round;
stroke-linejoin: round;
stroke-width: 3;
transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
stroke-dasharray: 20 300;
stroke-dashoffset: -32.42;
}
.card{
    height: 65%;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    -webkit-box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
    box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: rgba(245, 245, 245, 0.793);
    -webkit-tap-highlight-color: transparent;
}

.card >*:nth-child(1){
    border: 1px solid rgba(0, 0, 0, 0.074);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    outline: 7px solid rgba(128, 128, 128, 0.237);
}
.card >*:nth-child(4){
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
}
.card button{
    color: whitesmoke;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
#home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://dl.dropbox.com/s/mpmu0gjtxv2x3fs/Webp.net-resizeimage%20%281%29.jpg?raw=1) no-repeat center center fixed; 
    background-size: cover;
}
#projects{
    
    background-color: rgb(5, 5, 39);
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact{
    background-color: rgb(5, 5, 39);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.social-icons{
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    -webkit-box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
    box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 30%;
    position: absolute;
    z-index: 2;
}
.p-shape{
    width: 15%;
    height: 30%;
    background-color: rgb(238, 46, 97);
    border-radius: 50%;
    position: relative;
    top: 0%;
    right: 15%;
    z-index: 1;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.668),-5px -5px 5px rgba(0, 0, 0, 0.632);
}
.p-shape-2{
    width: 15%;
    height: 30%;
    background-color: rgb(36, 147, 188);
    border-radius: 50%;
    position: relative;
    z-index: 1;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.668),-5px -5px 5px rgba(0, 0, 0, 0.632);
    bottom: 0%;
    left: 15%;
}
.p-container{
    z-index: 3;
    width: 80%;
    height: 90%;
    position: absolute;
    -webkit-box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
    box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.p-links{
    width: 22%;
    height: 43%;
    box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: whitesmoke;
    background-color: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
.p-links p{
    text-align: center;
}
.g-img{
    width: 90%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.fab {
    font-size: 100px;
    cursor: pointer;
    color: whitesmoke;
    transition: .3s ease;
  }
.s-shape{
    z-index: 1;
     width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid red;
}
a{
    text-decoration: none;
    color: white;
    -webkit-tap-highlight-color: transparent;
}
a:hover{
    text-decoration:underline;
}
img{
    transition: 0.3s ease;
}
.g-img img:hover{
    scale: 0.9;
}
@media screen and (max-width:1125px){
    .p-shape{
        width: 16%;
    height: 32%;
    }
    .p-shape-2{
        width: 16%;
    height: 32%;
    }
}
@media screen and (max-width:1000px){
    .p-shape{
        width: 13.5%;
    height: 23%;
    }
    .p-shape-2{
        width: 13.5%;
        height: 23%;
    }
}
@media screen and (max-width:801px){
    nav{
        width: 30%;
    }
    .p-shape{
        width: 13.5%;
    height: 18.5%;
    }
    .p-shape-2{
        width: 13.5%;
        height: 18.5%;
    }
}
@media screen and (max-width:700px){
    .card h3{
        font-size: 0.8rem;
    }
    .card p{
        font-size: 1rem;
    }
    .fab{
        font-size: 70px;
    }
    i{
        font-size: 1.1rem;
    }
    .hamburger{
        scale: 0.8;
    }
    .p-shape{
        width: 13.5%;
    height: 16%;
    }
    .p-shape-2{
        width: 13.5%;
        height: 16%;
    }
}
@media  screen and (max-width:607px) {
    .fab{
        font-size: 50px;
    }
    .card{
        height: 50%;
    }
    .p-links p{
        font-size: 0.8rem;
    }
    .p-links a{
        font-size: 0.75rem;
    }
    nav{
        width: 35%;
    }
    .p-shape{
        width: 18.5%;
    height: 19%;
    }
    .p-shape-2{
        width: 18.5%;
        height: 19%;
    }
}
@media  screen and (max-width:550px){
    .card{
        width: 50%;
    }
    .p-links{
        width: 30%;
    }
    .p-shape{
        width: 14.5%;
    height: 15%;
    left: -5%;
    }
    .p-shape-2{
        width: 14.5%;
    height: 15%;
        left: 5%;
    }
}
@media  screen and (max-width:451px){
    .fab{
        font-size: 40px;
    }
    nav{
        width: 40%;
    }
    .p-shape{
        width: 19%;
        left: -10%;
    }
    .p-shape-2{
        width: 19%;
        left: 10%;
    }
}
@media  screen and (max-width:401px){
    .fab{
        font-size: 40px;
    }
    .social-icons{
        width: 70%;
    }
    nav{
        width: 45%;
    }
    .p-shape{
        height: 13.5%;
    }
    .p-shape-2{
        height: 13.5%;
    }
}
@media  screen and (max-width:350px){
    .fab{
        font-size: 35px;
    }
    .social-icons{
        width: 72%;
    }
    .p-links{
        height: 35;
    }
    .card{
        width: 65%;
    }
    nav{
        width: 50%;
    }
    .p-shape{
        height: 11.5%;
        top: 10%;
    }
    .p-shape-2{
        height: 11.5%;
        top: -10%;
    }
}
@media  screen and (max-width:330px){
    .hamburger svg{
        height: 2.5em;
    }
}
@media  screen and (max-width:290px){
    nav{
        width: 60%;
    }
}